* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-width: 360px !important;
}

.h11, .easyFast h1, .testimonials h1 {
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}

.h61, .easyFast h6, .testimonials h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #5E6282;
  margin-bottom: 4px !important;
}

.p1, .easyFast p, .testimonials p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #5E6282;
}

.testimonials h6 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: left;
  color: #5E6282;
  margin-bottom: 4px !important;
}

.testimonials h5 {
  text-transform: capitalize !important;
}

.testimonials p {
  line-height: 32px !important;
  font-weight: 500 !important;
}

.mt-40 {
  margin-top: 40px;
}

.mt-150 {
  margin-top: 150px;
  margin-bottom: 100px;
}

.img1 {
  width: 370px;
}

.p-r {
  position: relative;
  padding: 50px;
}

.p-a {
  position: absolute;
  bottom: 90px;
  right: -70px;
}

.p-a1 {
  position: absolute;
  z-index: -1;
  width: 96%;
  top: -40px;
  right: 10px !important;
}

.ml-40 {
  margin-left: 40px;
}

.test-right {
  -webkit-box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.04);
          box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.04);
  margin-left: 40px;
  background: white;
  border-radius: 10px;
  width: 100%;
}

.test-right:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.test-right-abs {
  position: absolute;
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.06);
  right: -20px;
  z-index: -1;
  bottom: -30px;
  height: 232px;
  width: 80%;
  border-radius: 10px;
}

.test-right-abs:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sub {
  height: 407px;
  background: rgba(0, 0, 0, 0.02);
  position: relative;
  border-top-left-radius: 170px;
  border-bottom-right-radius: 60px;
}

.sub h1 {
  font-family: "Poppins", sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  color: #5E6282;
}

.login-p input {
  height: 68px;
  border-radius: 10px;
  border: none;
  width: 40%;
  padding-left: 40px;
  font-size: 16px;
}

.login-p input:focus {
  border: none;
  -webkit-box-shadow: 0 0 5px #FF7D68;
          box-shadow: 0 0 5px #FF7D68;
  outline: none;
}

.login-p input:active {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login-p button {
  height: 68px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

.login-p button:hover {
  color: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%) !important;
  background: white;
  border: 1px solid linear-gradient(180deg, #FF946D 0%, #FF7D68 100%) !important;
}

.abs-img {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -15px;
  right: -15px;
}

.footer h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.footer p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 34px !important;
}

.footer h4 {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 34px !important;
}

.footer h3 {
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.005em;
  text-align: left;
}

.footer a {
  text-decoration: none;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #5E6282;
  margin-top: 13px;
}

.mess div {
  display: inline;
  width: inherit;
}

.m-10p {
  margin-left: 7%;
  margin-right: 7%;
}

.pad-r {
  padding-top: 150px;
}

.footer-end p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #5E6282;
}

.top-testing h6 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #5E6282;
}

.top-testing h1 {
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}

.card-img1 {
  width: 100% !important;
}

.card1 {
  position: relative;
  width: 100% !important;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
}

.card1:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.card-body1 {
  position: absolute;
  height: 130px;
  bottom: 0;
  left: 0;
  width: 105% !important;
  background: white;
}

.card-body1 p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.card-body1 img {
  margin-right: 15px;
}

.card {
  margin-top: 50px;
  width: 92% !important;
  padding: 43px 0;
  border: none !important;
  border-radius: 36px;
}

.card p {
  font-family: "Poppins", sans-serif;
  width: 85% !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #5E6282;
}

.card-img-top {
  width: 40%;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.card2 {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04) !important;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04) !important;
  position: relative;
  background: white;
}

.card-abs-img {
  position: absolute;
  bottom: -40px;
  left: -40px;
  z-index: -1;
}

.top1 {
  width: 55%;
}

.image-c {
  width: 100%;
  height: 120px;
}

@media screen and (max-width: 1150px) {
  .sub {
    padding: 50px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 60px;
  }
  .sub h1 {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #5E6282;
  }
  .card1 {
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
  }
}

@media screen and (max-width: 768px) {
  .login-p input {
    height: 68px;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding-left: 40px;
  }
  .login-p input:focus {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .login-p input:active {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .login-p button {
    margin-top: 30px;
    width: 150px;
    margin-left: 0 !important;
  }
  .footer {
    padding-top: 100px !important;
    margin-top: 100px inherit !important;
  }
  .footer h1, .footer p, .footer a, .footer h4 {
    text-align: center !important;
  }
  .sub {
    padding: 50px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 60px;
  }
  .sub h1 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #5E6282;
  }
  .top-testing h6 {
    font-size: 14px;
    line-height: 20px;
  }
  .top-testing h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .easyFast h6 {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .easyFast h1 {
    font-size: 36px !important;
    line-height: 46px !important;
  }
  .testimonials h6 h6 {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .testimonials h1 {
    font-size: 36px !important;
    line-height: 46px !important;
  }
}
/*# sourceMappingURL=style.css.map */